@import './variables.styl'

body
  height: 100vh
  margin: 0
  color: white
  background: none
  overflow: hidden
  font-family: arial, sans-serif

  &[data-platform="win32"]
    border: 1px solid $dark1 * 1.45

  &[data-platform="darwin"]
    &[data-dark-mode]
      // background: rgba($dark1, 0)
      background: $dark2
      border: 1px solid $dark2
      border-top: 1px solid black
      border-radius: 4px
    &[data-darwin-old]
      border-top: 1px solid $dark1 * 1.3

form
  fieldset
    padding-left: 6px
    margin-top: 6px
  legend
    color: $bright1 * 0.95
    font-size: 13px
    font-weight: bold
    margin: 6px 0
    margin-left: -6px
  label
    display: block
    color: $bright2
  .inset
    margin-bottom: 6px
    &:last-child
      margin-bottom: 0
  select, input[type="text"], input[type="number"]
    margin-left: 8px
  input[type="checkbox"]
    margin-right: 8px
  input[type="text"], input[type="number"]
    background: $bright2
    border: none
    border: 2px solid transparent
    font-weight: 700
    border-radius: 3px
    padding: 3px 0 3px 5px
    font-size: 11px
    transition: all 0.4s
    &:focus
      background: $bright1
      border: 2px solid $highlight

.button
  color: $bright1
  box-shadow: 0 0 0 1px $dark2 * 0.55
  text-shadow: 0 -1px 0px black
  border: 1px solid $dark1 * 1.1
  border-top-color: $dark1 * 1.5
  background: linear-gradient(top, $dark1 * 1.2, rgba($dark2 * 1.4, 0.0)), $dark2 * 1.4
  // background: linear-gradient(top, $dark1 * 1.2, $dark2 * 1.3)
  font-size: 14px
  border-radius: 2px
  padding: 4px 8px
  // cursor: pointer
  transition: background 0.4s, border 0.4s
  font-size: 16px
  margin: 4px 5px
  &:hover
    // background: linear-gradient(top, $dark1 * 1.3, $dark2 * 1.4)
    background: linear-gradient(top, $dark1 * 1.2, rgba($dark2 * 1.3, 0.0)), $dark2 * 1.8
    border-top-color: $dark1 * 1.7
    transition: none
  &.pressed
  &:active
    border: 1px solid $dark1 * 0.95
    background: linear-gradient(top, $dark1 * 1.1, $dark2 * 1.275)
  svg
    filter: drop-shadow(0 -1px 0px rgba(0,0,0, 0.6))

.bordered
  border-radius: 5px
  border: 1px solid $dark1 * 1.1
  border-top-color: $dark1 * 1.25
  background: rgba($dark2, 0.95)
  box-shadow: 0 0 0 1px $dark2 * 0.5, 0 2px 10px rgba(black, 0.15)
  -webkit-backdrop-filter: blur(8px)
  backdrop-filter: blur(8px)

.tipped
  position: relative
  &::before
    content: ''
    display: block
    position: absolute
    width: 0
    height: 0
    triWidth = 7px
    top: - triWidth
    left: 16px
    border-left: triWidth solid transparent
    border-right: triWidth solid transparent
    border-bottom: triWidth solid $dark2 * 1.1
    filter: drop-shadow(0 -1px 0px $dark1 * 1.7) drop-shadow(0 -1px 0px $dark2 * 0.5)

.header
  text-align: center
  font-size: 14px
  font-weight: bold
  color: $bright1
  margin: -14px
  padding: 9px 14px
  box-shadow: 0 0 8px rgba(black, 0.6)
  text-shadow: 0 -1px 0px black
  background: $dark2 * 1.1
  margin-bottom: 14px
  border-bottom: 1px solid $dark1 * 1.2

alchemy-editor
  height: 100%

@import url('https://fonts.googleapis.com/css2?family=Comfortaa&display=swap');
.splash-box
  background: $dark1
  background: linear-gradient(-45deg, #c5dcff, #666)
  position: relative
  border-radius: 4px
  padding: 30px
  // text-align: center
  width: 100%
  height: 100%
  h1
    font-size: 46px
    margin-bottom: 8px
    font-family: 'Comfortaa'
  h2
    font-size: 16px
    font-family: 'Comfortaa'
  .version
    font-size: 12px
    position: absolute
    bottom: 12px
    right: 12px
    padding: 4px 8px
    background: rgba($dark1, 0.7)
    border-radius: 3px
    font-weight: bold
