// Global brightness
$gb = 1.085

$bright1 = #b5b5b5 * 1.05 * $gb
$bright2 = $bright1 * 0.71

$dark1 = rgb(48,48,55) * 0.83 * $gb
$dark2 = $dark1 * 0.7

$highlight = #0090ff
$confirm = #b9ff64
$cancel = #ff6f6f

$blue = #4b8ee3
$purple = #a052f7
$pink = #ee3367
$orange = #ea6a43
$green = #15c115
