// Global brightness
$gb = 1.075

$bright1 = #b5b5b5 * 1.05 * $gb
$bright2 = $bright1 * 0.71

$dark1 = rgb(48,48,55) * 0.83 * $gb
$dark2 = $dark1 * 0.7

// $dark2 = #1b1b1b * $gb
// $dark1 = $dark2 * 1.4

$highlight = #2590e1
